@use './extras' as e;

@media screen and (min-width:320px) {
    body {
        font-size: 16px;
        font-family: 'Neue Montreal';
        background-color: #f3f3f3;
        padding: 10.66667% 0 0;
        font-weight: 300;
    }

    h1,
    h2,
    h3,
    h4 {
        font-weight: 400;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    ::selection {
        color: #fff;
        background-color: #111;
    }

    button {
        cursor: pointer;
        font-weight: 300;
        line-height: 1.2;
        background-color: inherit;
        border: 1px solid #111;
        font-family: inherit;
        transition: background-color, transform ease 0.3s;

        &:hover {
            transform: scale(0.985);
            font-weight: 400;
            background-color: #111;
            // border: #C7A7FF;
            color: #fff;
        }
    }

    header {
        padding: 0 5.3337% 0;
    }

    nav {
        align-items: center;
        display: flex;
        justify-content: space-between;

        div {
            font-size: 1.2em;
            color: #111;
            line-height: 1.1;
        }

        button {
            padding: 12px 20px;
            border-radius: 20px;
        }
    }

    .logo {
        cursor: pointer;
    }

    .intro {
        margin: 0 0 8%;
        padding: 24% 5.34% 0;
        display: flex;
        flex-direction: column;
        row-gap: 5rem;

        img {
            background-image: url("/Images/blob-haikei.svg");
            background-repeat: no-repeat;
            background-position: 50% 58%;
            background-size: 480px 700px;
        }

        h1 {
            font-size: 2.5em;
            letter-spacing: -.02em;
        }

        p {
            line-height: 1.7;
            margin-top: 9.956%;
            letter-spacing: 0.06em;
            color: #111;
        }

        .text {
            width: 90%;
        }
    }

    .importance {
        background-color: #F4EEFF;
        padding: 16% 5.34% 8%;

        h2 {
            font-size: 2.3rem;
        }

        span {
            position: relative;
        }

        span::before {
            content: "";
            position: absolute;
            height: 5px;
            top: 90%;
            width: 100%;
            left: 0;
            background: linear-gradient(111.3deg, #a6a0ff 10%, #4c46b7 98%);
            border-radius: 5px;
        }

        .card-wrapper {
            margin: 3rem auto 0;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .impo-card {
                padding: 30px 20px;
                display: flex;
                flex-direction: column;
                gap: 1rem;

                p {
                    width: 90%;
                    line-height: 1.5;
                    letter-spacing: 0.3px;
                    font-weight: 400;
                }

                img {
                    margin: 1rem auto 2rem;
                    width: 90%;
                }

                h3 {
                    font-size: 24px;
                    margin: 10px 0 0;
                }
            }
        }
        hr {
            width: 60%;
            margin: 0 auto;
        }
    }

    .benefits {
        padding: 16% 5.337% 8%;

        h2 {
            font-size: 2.3rem;

        }

        .card-wrapper {
            margin: 3rem auto;
            display: flex;
            flex-direction: column;
            gap: 2.4rem;

            .benefit-card {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                text-align: center;
                padding: 30px 20px;
                border: 1px solid #492C7E;
                border-radius: 10px;
                width: 95%;
                margin: 0 auto;
                background: #f5faf9;

                img {
                    width: 70%;
                    height: 20vh;
                    display: block;
                    margin: 1rem auto 0;
                }

                p {
                    font-weight: 400;
                    line-height: 1.5;
                }

                h3 {
                    font-size: 24px;
                }
            }
        }
    }

    .projects {
        padding: 0 5.34% 0;
        hr {
            color: #8c8c8c;
            border-bottom: none;
            margin: 0 0 80px;
        }

        .heading-wrapper {
            display: flex;
            align-items: center;
            margin: 2.4% 0;
        }

        .bullet {
            width: .4em;
            height: .4em;
            margin-right: 0.5em;
            border-radius: 50%;
            background-color: #111;
        }

        h3 {
            font-size: 0.8rem;
        }
    }

    .projects-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin: 11.95% 0 35.83%;
    }

    .project-card {
        padding: 0 0 2.99% 0;

        img {
            width: 100%;
            height: 100%;
        }

        h4 {
            font-size: 1.1rem;
        }

        p {
            color: #4f4e4e;
            letter-spacing: 0.8px;
        }

        a {
            color: inherit;
        }
    }

    .text-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0.6rem 0;
        align-items: baseline;
    }

    .cta {
        text-align: center;
        padding: 5.337% 0 18.6667%;

        h2 {
            font-size: 2.5rem;
            text-align: center;
            letter-spacing: -.02em;
            font-weight: 300;
            margin: 50px 0 35px;
            line-height: 1;
        }

        button {
            padding: 20px 40px;
            font-size: 1.2rem;
            border-radius: 100vw;
        }
    }

    .icons-wrapper {
        display: flex;
        justify-content: center;
        gap: 1em;
    }

    .link-wrapper {
        height: 3em;
        width: 3em;
        border: 1px solid #111;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease 0.5s;

        svg {
            width: 50%;
            height: 50%;
        }
    }

    .link-wrapper:hover {
        background-color: #111;
        transform: scale(0.99);

        svg {
            fill: #fff;
        }
    }
}

@media screen and (min-width:768px) {
    body {
        padding: 10% 5.6%;
    }

    .logo {
        font-weight: 400;
    }

    .intro {
        h1 {
            font-size: 3.5rem;
        }

        p {
            width: 70%;
        }
    }

    .projects-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1.7rem;
        row-gap: 3rem;
        align-items: baseline;

        .project-card {
            width: 48%;
        }
    }

    .cta {
        padding: 50px 0 0;

        button {
            font-weight: 400;
        }
    }
}

@media screen and (min-width:1024px) {
    body {
        padding: 8% 5.6%;
    }

    nav button {
        padding: 20px 40px;
        border-radius: 100vw;
        font-size: 1rem;
        font-weight: 400;
    }

    .intro {
        display: flex;
        flex-direction: row;

        .text {
            width: 58%;
        }

        img {
            width: 42%;
        }

        h1 {
            font-size: 3rem;
        }

        p {
            width: 70%;
            font-size: 1.4rem;
            margin-top: 45px;
            line-height: 1.5;
        }
    }

    .projects h3 {
        font-size: 1rem;
    }

    .cta h2 {
        font-size: 4rem;
        margin: 60px 0 50px;
    }

}