@use './extras' as e;

.progress-container {
    width: 100%;
    height: 8px;
    background-color: e.$prim-col;
    position: fixed;
    top: 0;
    left: 0;

    div {
        height: 100%;
        background-color: e.$sec-color;
        width: 0%;
    }
}


@media screen and (min-width:320px) {
    body {
        font-size: 16px;
        font-family: 'Neue Montreal';
        background-color: e.$odd-col;
        padding: 10.66667% 0 0;
        font-weight: 300;
        color: #010012;
    }

    h1,
    h2,
    h3,
    h4 {
        font-weight: 400;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    p {
        color: e.$txt-col;
    }

    hr {
        color: #8c8c8c;
        border-bottom: none;
        margin: 0 auto 40px;
        width: 88%;
    }

    ::selection {
        color: #fff;
        background-color: #111;
    }

    button {
        cursor: pointer;
        line-height: 1.2;
        font-family: inherit;
        transition: background-color, transform ease 0.3s;
        color: #fff;
        background: e.$sec-color;
        border: none;
        font-weight: 500;
        letter-spacing: 0.7px;

        &:hover {
            transform: scale(0.97);
            font-weight: 400;
            background-color: #5049AE;
            color: #fff;
        }
    }

    header {
        padding: 0 5.3337% 0;
    }

    nav {
        align-items: center;
        display: flex;
        justify-content: space-between;

        div {
            font-size: 1rem;
            color: #111;
            line-height: 1.1;
        }

        button {
            padding: 10px 15px;
            border-radius: 20px;
            font-size: 0.73rem;
        }
    }

    .logo {
        cursor: pointer;
    }

    .intro {
        margin: 0 0 8%;
        padding: 24% 5% 0;
        display: flex;
        flex-direction: column;
        row-gap: 5rem;

        img {
            background-repeat: no-repeat;
            background-position: 50% 58%;
            background-size: 480px 700px;
        }

        h1 {
            width: 102%;
            font-size: 2.9rem;
            letter-spacing: -.02rem;
        }

        p {
            line-height: 1.6;
            margin-top: 8.25%;
            letter-spacing: 0.06em;
            color: #111;
            font-size: 0.938rem;
        }

        .text {
            width: 100%;
        }
    }

    .importance {
        background-color: e.$prim-col;
        padding: 16% 5.34% 8%;

        h2 {
            font-size: 2.3rem;
        }

        span {
            position: relative;
        }

        span::before {
            content: "";
            position: absolute;
            height: 5px;
            top: 90%;
            width: 100%;
            left: 0;
            background: linear-gradient(111.3deg, #a6a0ff 10%, #4c46b7 98%);
            border-radius: 5px;
        }

        .card-wrapper {
            margin: 4rem auto 0;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .impo-card {
                padding: 8.96% 7%;
                display: flex;
                flex-direction: column;
                gap: 1.3rem;
                background-color: #FFF4E6;
                border-radius: 10px;

                p {
                    width: 90%;
                    line-height: 1.5;
                    letter-spacing: 0.3px;
                    font-weight: 400;
                    font-size: 0.938rem;
                }

                img {
                    margin: 1rem auto 1rem;
                    width: 90%;
                }

                h3 {
                    font-size: 1.563rem;
                    margin: 0 0 0.7rem;
                }
            }
        }
    }

    .benefits {
        padding: 16% 5.337% 8%;

        h2 {
            font-size: 2.3rem;

        }

        .card-wrapper {
            margin: 3rem auto;
            display: flex;
            flex-direction: column;
            gap: 2.4rem;

            .benefit-card {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                text-align: center;
                padding: 30px 20px;
                border: 1px solid #010012;
                border-radius: 10px;
                width: 90%;
                margin: 0 auto;

                img {
                    width: 70%;
                    height: 20vh;
                    display: block;
                    margin: 1rem auto 0;
                }

                p {
                    font-weight: 400;
                    line-height: 1.5;
                    width: 96%;
                    margin: 0 auto;
                }

                h3 {
                    font-size: 24px;
                }
            }
        }
    }

    .projects {
        background-color: e.$prim-col;
        padding: 11% 5.34% 0;

        .heading-wrapper {
            display: flex;
            align-items: center;
            margin: 2.4% 0;
        }

        .bullet {
            width: .4em;
            height: .4em;
            margin-right: 0.5em;
            border-radius: 50%;
            background-color: #111;
        }

        h3 {
            font-size: 0.8rem;
        }
    }

    .projects-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin: 11.95% 0 35.83%;
    }

    .project-card {
        padding: 0 0 4% 0;
        background: #FFF7D4;
        border-radius: 2%;

        img {
            width: 100%;
            height: 100%;
        }

        h4 {
            font-size: 1.038rem;
        }

        p {
            color: #4f4e4e;
            letter-spacing: 0.8px;
            font-size: 0.938rem;
        }

        a {
            color: inherit;
        }
    }

    .text-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0.5rem 0.8rem 0;
        align-items: baseline;
    }

    .cta {
        text-align: center;
        padding: 5.337% 5.34% 18.6667%;
        background-color: e.$odd-col;

        h2 {
            font-size: 2.5rem;
            text-align: center;
            font-weight: 500;
            margin: 50px 0 35px;
            line-height: 1.3;
        }

        button {
            padding: 15px 40px;
            font-size: 1.2rem;
            border-radius: 100vw;
        }
    }

    footer {
        background-color: e.$sec-color;
        padding: 5rem 2rem 1rem;

        h4 {
            color: e.$prim-col;
            font-size: 1.125rem;
        }
        
        p {
            color: e.$prim-col;
            font-size: 0.88rem;
            text-align: center;
            a {
                font-weight: 500;
                font-size: 1rem;
                letter-spacing: 0.8px;
                margin: 0 0 0 0.2rem;
            }
        }
    }

    .icons-wrapper {
        display: flex;
        justify-content: start;
        gap: 1em;
        margin: 1rem 0 3rem;
    }

    .link-wrapper {
        height: 3em;
        width: 3em;
        border: 1px solid #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease 0.5s;

        svg {
            width: 50%;
            height: 50%;
            fill: e.$prim-col;
        }

        &:hover {
            background-color: e.$prim-col;
            transform: scale(0.99);

            svg {
                fill: #6058D6;
            }
        }
    }
}

@media screen and (min-width:768px) {
    body {
        padding: 10% 0 6%;
    }

    .logo {
        font-weight: 400;
    }

    nav {
        button {
            padding: 18px 30px;
            border-radius: 30px;
        }

        div {
            font-size: 1.6rem;
        }
    }

    .intro {
        padding: 16% 5.34% 0;
        row-gap: 4rem;

        h1 {
            font-size: 4rem;
        }

        p {
            font-size: 1.25rem;
            width: 90%;
        }

        .text {
            width: 70%;
        }

        img {
            width: 68%;
            margin: 0 11% 0 auto;
            background-size: 600px 800px;
        }
    }

    .importance {
        padding: 13% 4% 8%;

        h2 {
            font-size: 2.7em;
        }

        .card-wrapper {
            gap: 4rem;
            margin-top: 5rem;

            hr {
                display: none;
            }

            .impo-card {
                background-color: unset;
                padding: 7% 0 4%;
                flex-direction: row;
                gap: 4rem;

                .text {
                    display: flex;
                    flex-direction: column;
                    row-gap: 2rem;
                }

                h3 {
                    margin: 0;
                    font-size: 2rem;
                }

                p {
                    width: 100%;
                    font-size: 1.1rem;
                }

                img {
                    width: 50%;
                    margin: 0;
                }
            }
        }
    }

    .odd {
        img {
            order: 2;
        }
    }

    .benefits {
        padding: 10% 5.337% 8%;

        .card-wrapper {
            width: 70%;
            gap: 3rem;
            margin-top: 4rem;

            .benefit-card {
                padding: 8.75% 6.567%;

                h3 {
                    font-size: 1.7rem;
                }

                p {
                    font-size: 1.2rem;
                }

                img {
                    height: 25vh;
                }
            }
        }

        h2 {
            font-size: 2.7rem;
        }
    }

    .projects {
        h3 {
            font-size: 1rem;
        }
    }

    .projects-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1.7rem;
        row-gap: 3rem;
        align-items: baseline;
        margin: 6% 0 8%;

        .project-card {
            width: 48%;
        }
    }

    .cta {
        padding: 5rem 0 0;

        button {
            font-weight: 400;
        }
    }
}

@media screen and (min-width:1024px) {
    body {
        padding: 4% 2.6%;
    }

    header {
        padding: 0 4% 0;
    }

    nav button {
        padding: 20px 40px;
        border-radius: 100vw;
        font-size: 1rem;
        font-weight: 400;
    }

    .intro {
        display: flex;
        flex-direction: row;
        padding: 8% 4% 0;
        align-items: center;

        .text {
            width: 55%;
        }

        img {
            width: 42%;
            margin: 0;
            background-size: 700px 900px;
        }

        h1 {
            font-size: 3.2rem;
            width: 65%;
        }

        p {
            width: 70%;
            font-size: 1.3rem;
            margin-top: 45px;
            line-height: 1.5;
        }
    }

    .importance {
        padding: 8% 4%;

        .card-wrapper {
            .impo-card {
                gap: 10rem;
                padding: 7% 5% 4%;

                img {
                    width: 40%;
                }

                .text {
                    row-gap: 3rem;
                }

                p {
                    width: 78%;
                    font-size: 1.2rem;
                }
            }
        }
    }

    .benefits {
        padding: 3% 4% 8%;

        .card-wrapper {
            width: unset;
            margin: 4rem 0 0;
            flex-direction: row;

            .benefit-card {
                width: 33%;
                margin: 0;
                padding: 3% 3%;
            }
        }
    }

    .projects-wrapper {
        margin: 0 0 8%;
    }

    .projects h3 {
        font-size: 1.1rem;
    }

    .cta h2 {
        font-size: 4rem;
        margin: 60px 0 50px;
    }

}