@font-face {
  font-family: "Neue Montreal";
  src: url("./fonts/PPNeueMontreal-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./fonts/PPNeueMontreal-Book.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./fonts/PPNeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./fonts/PPNeueMontreal-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) {
  body {
    font-size: 16px;
    font-family: "Neue Montreal";
    background-color: #f3f3f3;
    padding: 40px 20px 0;
    font-weight: 300;
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: 400;
  }
  a {
    text-decoration: none;
  }
  ::selection {
    color: #fff;
    background-color: #111;
  }
  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  nav div {
    font-size: 1.2em;
    color: #111;
    line-height: 1.1;
  }
  nav button {
    line-height: 1.2;
    padding: 12px 20px;
    background-color: inherit;
    border-radius: 20px;
    border: 1px solid #111;
    font-family: inherit;
  }
  .intro {
    margin: 115px 0 70px;
  }
  .intro h1 {
    font-weight: 400;
    font-size: 2.4em;
    letter-spacing: -0.02em;
  }
  .intro p {
    line-height: 1.5;
    margin-top: 30px;
    letter-spacing: 0.06em;
    color: #111;
  }
  .projects hr {
    color: #8c8c8c;
    border-bottom: none;
  }
  .projects .heading-wrapper {
    display: flex;
    align-items: center;
    margin: 8px 0;
  }
  .projects .bullet {
    width: 0.4em;
    height: 0.4em;
    margin-right: 0.5em;
    border-radius: 50%;
    background-color: #111;
  }
  .projects h3 {
    font-size: 0.8rem;
  }
  .projects-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 40px 0 120px;
  }
  .project-card img {
    width: 100%;
  }
  .project-card h4 {
    font-size: 1.1rem;
  }
  .project-card p {
    color: #4f4e4e;
    letter-spacing: 1.3px;
  }
  .project-card a {
    color: inherit;
  }
  .text-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0;
  }
}
