@font-face {
  font-family: "Neue Montreal";
  src: url("./fonts/PPNeueMontreal-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./fonts/PPNeueMontreal-Book.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./fonts/PPNeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./fonts/PPNeueMontreal-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) {
  body {
    font-size: 16px;
    font-family: "Neue Montreal";
    background-color: #f3f3f3;
    padding: 40px 20px 0;
    font-weight: 300;
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ::selection {
    color: #fff;
    background-color: #111;
  }
  button {
    cursor: pointer;
    font-weight: 300;
    line-height: 1.2;
    background-color: inherit;
    border: 1px solid #111;
    font-family: inherit;
    transition: background-color, transform ease 0.3s;
  }
  button:hover {
    transform: scale(0.985);
    font-weight: 400;
    background-color: #111;
    color: #fff;
  }
  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  nav div {
    font-size: 1.2em;
    color: #111;
    line-height: 1.1;
  }
  nav button {
    padding: 12px 20px;
    border-radius: 20px;
  }
  .logo {
    cursor: pointer;
  }
  .intro {
    margin: 115px 0 70px;
  }
  .intro h1 {
    font-size: 2.5em;
    letter-spacing: -0.02em;
    font-family: monospace, "Neue Montreal";
  }
  .intro p {
    line-height: 1.5;
    margin-top: 30px;
    letter-spacing: 0.06em;
    color: #111;
  }
  .projects hr {
    color: #8c8c8c;
    border-bottom: none;
  }
  .projects .heading-wrapper {
    display: flex;
    align-items: center;
    margin: 8px 0;
  }
  .projects .bullet {
    width: 0.4em;
    height: 0.4em;
    margin-right: 0.5em;
    border-radius: 50%;
    background-color: #111;
  }
  .projects h3 {
    font-size: 0.8rem;
  }
  .projects-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 40px 0 120px;
  }
  .project-card img {
    width: 100%;
    height: 100%;
  }
  .project-card h4 {
    font-size: 1.1rem;
  }
  .project-card p {
    color: #4f4e4e;
    letter-spacing: 1.3px;
  }
  .project-card a {
    color: inherit;
  }
  .text-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 0;
    align-items: baseline;
  }
  .cta {
    text-align: center;
    padding: 20px 0 70px;
  }
  .cta h2 {
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: -0.02em;
    font-weight: 300;
    margin: 50px 0 35px;
    line-height: 1;
  }
  .cta button {
    padding: 20px 40px;
    font-size: 1.2rem;
    border-radius: 100vw;
  }
  .icons-wrapper {
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  .link-wrapper {
    height: 3em;
    width: 3em;
    border: 1px solid #111;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
  }
  .link-wrapper svg {
    width: 50%;
    height: 50%;
  }
  .link-wrapper:hover {
    background-color: #111;
    transform: scale(0.99);
  }
  .link-wrapper:hover svg {
    fill: #fff;
  }
}
@media screen and (min-width: 768px) {
  body {
    padding: 10% 5.6%;
  }
  .logo {
    font-weight: 400;
  }
  .intro h1 {
    font-size: 3.5rem;
  }
  .intro p {
    width: 70%;
  }
  .projects-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1.7rem;
    row-gap: 3rem;
    align-items: baseline;
  }
  .projects-wrapper .project-card {
    width: 48%;
  }
  .cta {
    padding: 50px 0 25px;
  }
}
@media screen and (min-width: 1024px) {
  nav button {
    padding: 20px 40px;
    border-radius: 100vw;
    font-size: 1rem;
    font-weight: 400;
  }
  .intro h1 {
    font-size: 6rem;
  }
  .intro p {
    width: 50%;
    font-size: 1.4rem;
    margin-top: 45px;
  }
  .projects h3 {
    font-size: 1rem;
  }
  .cta h2 {
    font-size: 4rem;
  }
}
